.clients-list {
    display: flex;
    flex-wrap: wrap;
    margin: calc(-1 * var(--card-set-gap));
}

.clients-list__item {

    flex-basis: calc(100% / 2 - 2 * var(--card-set-gap));

    @include tablet{
        flex-basis: calc(100% / 3 - 2 * var(--card-set-gap));
    }

    @include desktop {
            flex-basis: calc(100% / 6 - 2 * var(--card-set-gap));
        }
    margin: var(--card-set-gap);
}


.clients-list__link {
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    // width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--icon-color);

    transition: color 250ms var(--cubic),
        border-color 250ms var(--cubic);

        &:hover,
        &:focus {
            border-color: var(--accent-color);
            color: var(--accent-color);
        }
}


.clients-list__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
}