.clients-list {
    display: flex;
    // align-items: center;
    flex-wrap: wrap;
        margin-bottom: calc(-1 * var(--card-set-gap));
        margin-right: calc(-1 * var(--card-set-gap));
}

.clients-list__item {
    // margin-right: 30px;
    // &:last-child {
    //     margin-right: 0;
    // }

    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-right: var(--card-set-gap);
    margin-bottom: var(--card-set-gap);
}


.clients-list__link {
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    width: 210px;
    // width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--icon-color);

    transition: color 250ms var(--cubic),
        border-color 250ms var(--cubic);

        &:hover,
        &:focus {
            border-color: var(--accent-color);
            color: var(--accent-color);
        }
}


.clients-list__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
}