// .features-list {
//     display: flex;
//     justify-content: space-between;
// }

.features-list__title {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
@media screen and (max-width:767px) {
    text-align: center;
}

}

.features-list__text {
    margin: 0;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.features-list__item {
max-width: 480px;

@media screen and (max-width:767px) {
        &:not(:last-child) {
                margin-bottom: 30px;
            }
    }
}


.features-list__block {
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features-list__icon {
    width: 70px;
    height: 70px;
}