.section-team {
    background-color: #f5f4fa;
}

.team-list {
    @include tablet {
            display: flex;
            flex-wrap: wrap;
            margin: calc(-1 * var(--card-set-gap));
        }
}

.team-list__name {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-list__item {
    @media screen and (max-width:767px) {
    &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    
    box-shadow: var(--card-shadow);
    border-radius: 0px 0px 4px 4px;

    background-color: var(--primary-white-color);

    @include tablet {

        width: calc(100% / 2 - 2 * var(--card-set-gap));
        margin: var(--card-set-gap);

    }
    @include desktop {
        width: calc(100% / 4 - 2 * var(--card-set-gap));}
}

.team-list__card {
    padding-top: 30px;
    padding-bottom: 30px;
}


.team-list__text {
    margin-top: 0;
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}