.modal {
    padding: 40px;

    position: absolute;
    top: 50%;
    left: 50%;

    min-width: 528px;
    min-height: 581px;
    background-color: var(--primary-white-color);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--cubic);
}

.modal-button {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;


    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--primary-white-color);
    cursor: pointer;
    transition: color 250ms var(--cubic);

    &:hover,:focus {
        color: var(--accent-color);
    }
}

.modal-icon {
    width: 11px;
    height: 11px;
    fill: currentColor;
}

.modal-text {
    margin: 0;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
}

.form {
    width: 100%;
}

.form__field {
    margin-bottom: 10px;
}

.form__wrap {
    position: relative;
}

.form__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    display: inline-block;
    margin: 0;
    margin-bottom: 4px;
    padding: 0;

    color: var(--primary-text-color);
}


.form__label-policy {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    margin: 0;
    margin-top: 20px;
    padding: 0;
}

.form__input,
.form__textarea {
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    width: 100%;
    cursor: pointer;
    transition: border-color 250ms var(--cubic);

        &:focus,
        &:hover {
            outline-width: 0;
            border-color: var(--accent-color);
        }
}

.form__input {
    margin: 0;
    padding: 0;
    padding-left: 42px;

    height: 40px;

    &::placeholder
        {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;
    
        color: rgba(117, 117, 117, 0.5);
    }
}

.form__textarea {
    display: block;
    padding: 12px 16px;

    height: 120px;

    .form-footer__input::placeholder &::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;
    
        color: rgba(117, 117, 117, 0.5);
    }
}

.form__icon {
    width: 18px;
    height: 18px;

    position: absolute;
    bottom: 50%;
    left: 12px;
    transform: translateY(50%);

    transition: fill 250ms var(--cubic);

    .form__input:not(:placeholder-shown)~&,
    .form__input:focus~&,
    .form__input:hover~& {
        fill: var(--accent-color);
    }
}


.form__icon-policy {
    width: 16px;
    height: 15px;
    margin-right: 7px;

    border: 2px solid #212121;
    border-radius: 2px;

    .checkbox:checked+& {
        background-color: var(--accent-color);
        border: none;
        background-origin: border-box;
    }
}

.form__link-policy {
    color: var(--accent-color);
    text-decoration: underline;
}

.form__button {
    position: relative;
    left: 50%;
    margin-top: 30px;
    transform: translate(-50%);
}