.section {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);

    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}